<html>
  <head>
    <title>NTHU 開放校園資料API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="row">
      <div class="col-md-12 jumbotron">
        <h1 class="text-center">Open Campus:</h1>
        <h2 class="text-center">Open data API</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-primary">
          <div class="panel-heading">NTHU Library</div>
          <div class="panel-body">
            <p>清華大學圖書館系統上相關資料，提供 json 格式資料。</p>
            <p class="text-right text-info">提供單位: <a href="https://github.com/Tri-Try">TriTry</a></p>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              {% for e in v1_docs.routes %}
              <tr>
                <th>{{ e.key }}</th>
                <th><a href="{{ e.url }}">{{ e.url }}</a></th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">NTHU Library 互動式 API 文件</div>
          <div class="panel-body">
            <p>清華大學圖書館系統上相關資料，提供 json 格式資料 API 串接查詢。</p>
            <p class="text-right text-info">提供單位: <a href="https://github.com/Tri-Try">TriTry</a></p>
          </div>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>URL</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>考古題 API 文件</th>
                <th><a href="/doc#api-ExamPaper">/doc#api-ExamPaper</a></th>
              </tr>
              <tr>
                <th>遺失物品 API 文件</th>
                <th><a href="/doc#api-LibraryLost">/doc#api-LibraryLost</a></th>
              </tr>
              <tr>
                <th>借閱排行榜查詢 API 文件</th></th>
                <th><a href="/doc#api-Librarybooks">/doc#api-Librarybooks</a></th>
              </tr>
              <tr>
                <th>空間借用情形 API 文件</th></th>
                <th><a href="/doc#api-LibraryRoom">/doc#api-LibraryRoom</a></th>
              </tr>
              <tr>
                <th>新進圖書資料 API 文件</th></th>
                <th><a href="/doc#api-Librarybooks-query_new_books">/doc#api-Librarybooks-query_new_books</a></th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74816295-1', 'auto');
    ga('send', 'pageview');
  </script>
  </body>
</html>
